@page "/insurances/{id}"

<PageTitle>Insurance</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services

@inject InsuranceService InsuranceService

<h3>Details of the Selected Insurance</h3>

@if (insurance == null)
{
}
else
{
    

    <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col text-center">Insurance Number</th>
                    <th scope="col text-center">Start Date</th>
                    <th scope="col text-center">End Date</th>
                    <th scope="col text-center">Amount</th>
                        <th scope="col text-center">VIN</th>

                </tr>
            </thead>
            <tbody>



                <tr>

                <td scope="row">@insurance.insurance_number</td>
                <td scope="row">@insurance.start_date</td>
                <td scope="row">@insurance.end_date</td>
                <td scope="row">@insurance.amount</td>
                <td scope="row">@insurance.vehicle</td>


                </tr>

            </tbody>
        </table>

}
@code {
    [Parameter]
    public string? id { get; set; }


    private Insurance? insurance;

    protected override async Task OnInitializedAsync()
    {
        var insurances_service = await InsuranceService.GetInsuranceAsync(id);

        insurance = insurances_service;
    }
}

