@page "/routes/{id}"

<PageTitle>Routes</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services

@inject RouteService RouteService
@inject DriverService DriverService
@inject VehicleService VehicleService
@inject ContractorService ContractorService
@inject NavigationManager NavManager


@if (trail == null)
{
}
else
{
     <h3>Details of the Selected Route</h3>
        <hr />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                ID:
            </label>
            <div class="col-sm-5">
                <Text Class="form-control">@trail.route_id</Text>            
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                PESEL:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.driver.pesel</Text>             
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Name and Surname:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.driver.name @trail.driver.surname</Text>  
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                NIP:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.contractor.nip</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Contractor Name:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.contractor.name</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                VIN:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.vehicle.vin</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Fuel Usage:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.vehicle.fuel_usage</Text>  
            </div>
        </div>
        <br />
            <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Date:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.date</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Begin and End:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.begin - @trail.end</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Distance:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@trail.distance</Text>  
            </div>
        </div>
        <br />
        <div>
        <button class="btn btn-outline-primary" type="button" @onclick="Update_Click">
        Edit
        </button>
        <button class="btn btn-outline-danger" type="button" @onclick="Delete_Click">
            Delete
        </button>
        </div>


}

@code {
    [Parameter]
    public string? id { get; set; }


    private Trail? trail;

    protected override async Task OnInitializedAsync()
    {
        var trails_service = await RouteService.GetRouteAsync(id);

        trail = trails_service;
    }

    protected async Task Delete_Click()
    {

        await RouteService.DeleteRouteAsync(trail.route_id);
        NavManager.NavigateTo("/routes");
    }
    protected async Task Update_Click()
    {
        NavManager.NavigateTo("/routes/update/" + id);
    }
}
