@page "/settlements/{id}"
<PageTitle>Settlements</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services
@using BlazorTable
@inject SettlementService SettlementService
@inject NavigationManager NavManager





@if (settlement == null)
{
}
else
{
    <h3>Details of the Selected Settlement</h3>
        <hr />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                ID:
            </label>
            <div class="col-sm-5">
                <Text Class="form-control">@settlement.id</Text>            
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Month and Year:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.month-@settlement.year</Text>             
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Days Stationary:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.days_stationary</Text>  
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Days Leave:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.days_leave</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Saturdays in work:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.saturdays</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Rate for Kilometer:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.rate_for_kilometer</Text>  
            </div>
        </div>
        <br />
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Kilometers Done:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.kilometers_done</Text>  
            </div>
        </div>
        <br />
            <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Driver:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@settlement.driver</Text>  
            </div>
        </div>
        <br />
        
        <button class="btn btn-outline-danger" type="button" @onclick="Delete_Click">
            Delete
        </button>

   


}


@code {

    [Parameter]
    public string? id { get; set; }


    


    private Settlement? settlement;



    protected override async Task OnInitializedAsync()
    {




        var settlements_service = await SettlementService.GetSettlementAsync(id);

        settlement = settlements_service;
        
    }

    protected async Task Delete_Click()
    {

        await SettlementService.DeleteSettlementAsync(settlement.id);
        NavManager.NavigateTo("/settlements");
    }
}


