@page "/settlements/{id}"
<PageTitle>Settlements</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services
@using BlazorTable
@inject SettlementService SettlementService




<h3>Details of the Selected Settlement</h3>

@if (settlement == null)
{
}
else
{
   

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col text-center">ID</th>
                <th scope="col text-center">Month</th>
                <th scope="col text-center">Year</th>
                <th scope="col text-center">Days Stationary</th>
                    <th scope="col text-center">Days Leave</th>
                    <th scope="col text-center">Saturdays</th>
                    <th scope="col text-center">Rate for Kilometer</th>
                      
                            <th scope="col text-center">Kilometers Done</th>
                                <th scope="col text-center">Driver</th>

            </tr>
        </thead>
        <tbody>



            <tr>

                 <td scope="row">@settlement.id</td>
                <td scope="row">@settlement.month</td>
                <td scope="row">@settlement.year</td>
                  <td scope="row">@settlement.days_stationary</td>
                <td scope="row">@settlement.days_leave</td>
                <td scope="row">@settlement.saturdays</td>
                <td scope="row">@settlement.rate_for_kilometer</td>
                <td scope="row">@settlement.kilometers_done</td>
                <td scope="row">@settlement.driver</td>


            </tr>

        </tbody>
    </table>


}


@code {

    [Parameter]
    public string? id { get; set; }


    


    private Settlement? settlement;



    protected override async Task OnInitializedAsync()
    {




        var settlements_service = await SettlementService.GetSettlementAsync(id);

        settlement = settlements_service;
        
    }
}


