@page "/invoices/{id}"

<PageTitle>Invoices</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services

@inject InvoiceService InvoiceService

<h1>@id</h1>

@if (invoice == null)
{
}
else
{
    <div scope="row">@invoice.invoice_number</div>
    <div scope="row">@invoice.date</div>
    <div scope="row">@invoice.amount</div>
    <div scope="row">@invoice.contractor_name</div>

}
@code {
    [Parameter]
    public string? id { get; set; }


    private Invoice? invoice;

    protected override async Task OnInitializedAsync()
    {
        var invoices_service = await InvoiceService.GetInvoiceAsync(id);

        invoice = invoices_service;
    }
}
