@page "/repairs/{id}"
<PageTitle>Repairs</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services
@using BlazorTable
@inject RepairService RepairService
@inject RepairCostService RepairCostService

<h3>Details of the Selected Repair</h3>

@if (repair == null)
{
}
else
{
    @*<div scope="row">@repair.repair_date</div>
    <div scope="row">@repair.description</div>
    <div scope="row">@repair.vehicle</div>*@

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col text-center">ID</th>
                        <th scope="col text-center">Repair Date</th>
                        <th scope="col text-center">Description</th>
                        <th scope="col text-center">Vehicle</th>
                        
            </tr>
        </thead>
        <tbody>
            


                <tr >

                    <td scope="row">@repair.id</td>
                    <td scope="row">@repair.repair_date</td>
                    <td scope="row">@repair.description</td>
                        <td scope="row">@repair.vehicle</td>
                      
                      
                </tr>
            
            </tbody>
            </table>
                

}
<br />
<h1>Repair Costs</h1>
@if (repairCosts == null)
{
<p><em>Loading...</em></p>
}
else
{

    <Table TableItem="RepairCost" Items="repairCosts" PageSize="100">
        <Column TableItem="RepairCost" Title="Repair Cost ID" Field="@(x => x.id)" Sortable="true" Filterable="true" Width="10%" />
        <Column TableItem="RepairCost" Title="Repair Date" Field="@(x => x.date)" Sortable="true" Filterable="true" Width="20%" />
        <Column TableItem="RepairCost" Title="Invoice Number" Field="@(x => x.invoice_id)" Sortable="true" Filterable="true" Width="20%" />
        <Column TableItem="RepairCost" Title="Amount" Field="@(x => x.amount)" Sortable="true" Filterable="true" Width="20%" />
                    

    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>
}
<a href="costs/create/@id" class="btn btn-primary" role="button">Add Cost</a>
@code {
    
    [Parameter]
    public string? id { get; set; }


    private RepairCost[]? repairCosts;


    private Repair? repair;

  

    protected override async Task OnInitializedAsync()
    {

      


        var repairs_service = await RepairService.GetRepairAsync(id);

        repair = repairs_service;
        repairCosts = repair.repair_costs.ToArray();
    }
}

