@page "/drivers"

<PageTitle>Drivers</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services
@using BlazorTable

@inject DriverService DriverService
@inject NavigationManager NavManager
<h1>Drivers          <a href="drivers/create" class="btn btn-primary" role="button">Add Driver</a></h1>


@if (drivers == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <Table RowClickAction="ItemClicked" TableItem="Driver" Items="drivers" PageSize="100">
        <Column TableItem="Driver" Title="Name" Field="@(x => x.name)" Sortable="true" Filterable="true" Width="15%" />
        <Column TableItem="Driver" Title="Surname" Field="@(x => x.surname)" Sortable="true" Filterable="true" Width="15%" />
        
        <Column TableItem="Driver" Title="Date of Birth" Field="@(x => x.date_of_birth)" Sortable="true" Filterable="true" Width="10%" />
          @*      <Column TableItem="Driver" Title="PESEL" Field="@(x => x.pesel)" Sortable="true" Filterable="true" Width="15%" />
        <Column TableItem="Driver" Title="Driver License Number" Field="@(x => x.driver_license_number)" Sortable="true" Filterable="true" Width="15%" />
        <Column TableItem="Driver" Title="Qualification Certificate" Field="@(x => x.date_qualification_certificate)" Sortable="true" Filterable="true" Width="10%" />
        <Column TableItem="Driver" Title="BHP Course" Field="@(x => x.date_bhp_course)" Sortable="true" Filterable="true" Width="10%" />*@
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
}

@code {
    private Driver[]? drivers;


    protected override async Task OnInitializedAsync()
    {
        var drivers_service = await DriverService.GetDriversAsync();

        drivers = drivers_service.ToArray();


    }

    private void ItemClicked(Driver driver)
    {

        NavManager.NavigateTo("/drivers/" + driver.pesel);
    }

}
