@page "/vehicles/create"
@using Microsoft.Extensions.Logging
@inject ILogger<VehicleCreate> Logger
@using BlazorApp1.Services
@using BlazorApp1.Data
@inject VehicleService VehicleService
@inject NavigationManager NavManager
@inject IToastService toastService
@using Blazored.Toast.Configuration
@using BS.Forms.ValidatorComponent.Components

@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations

<EditForm Model="@vehicle" OnValidSubmit="@HandleValidSubmit">

    <h3>Add Vehicle</h3>
    <hr />
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator"></CustomValidator>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            VIN:
        </label>
        <div class="col-sm-5">
            <InputText asp-for="vehicle.vin" id="vin" Class="form-control" placeholder="VIN" @bind-Value="vehicle.vin" />
            <ValidationMessage For="@(() => vehicle.vin)"></ValidationMessage>
            <span asp-validation-for="vehicle.vin" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Year of Production:
        </label>
        <div class="col-sm-5">
            <InputNumber asp-for="vehicle.year_of_production" class="form-control" placeholder="Year of Production" @bind-Value="vehicle.year_of_production" />
            <ValidationMessage For="@(() => vehicle.year_of_production)"></ValidationMessage>
            <span asp-validation-for="vehicle.year_of_production" class="text-danger"></span>
        </div>
    </div>
    <br />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Car Review:
        </label>
        <div class="col-sm-5">
            <InputDate class="form-control" placeholder="Car Review" @bind-Value="vehicle.car_review" />
            <ValidationMessage For="@(() => vehicle.car_review)"></ValidationMessage>
        </div>
    </div>

    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Fuel Usage:
        </label>
        <div class="col-sm-5">
            <InputNumber class="form-control" placeholder="Fuel Usage" @bind-Value="vehicle.fuel_usage" />
            <ValidationMessage For="@(() => vehicle.fuel_usage)"></ValidationMessage>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Kilometers Done:
        </label>
        <div class="col-sm-5">
            <InputNumber class="form-control" placeholder="Kilometers Done" @bind-Value="vehicle.kilometers_done" />
            <ValidationMessage For="@(() => vehicle.kilometers_done)"></ValidationMessage>
        </div>
    </div>

    
    <br />

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug" />

</EditForm>

@code {

    private CustomValidator customValidator;

    public Vehicle[]? vehicle_check;

    private FormVehicle vehicle = new() { year_of_production = 2023, car_review = DateTime.Now };

    private async void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        var vehicle_service = await VehicleService.GetVehiclesAsync();
        vehicle_check = vehicle_service.ToArray();
        int exist = 0;
        
        for (int i = 0; i < vehicle_check.Length; i++)
        {
            if (vehicle_check[i].vin == vehicle.vin)
            {
                exist = 1;
            }
        }
        var errors = new Dictionary<string, List<string>>();
        if (exist == 1)
        {
            errors.Add(nameof(vehicle.vin), new List<string> { "This VIN already exists" });
            
        }
        int valid_year = 0;
        if (vehicle.year_of_production > DateTime.Now.Year || vehicle.year_of_production<1850)
        {
            valid_year = 1;
        }
        
        if (valid_year == 1)
        {
            errors.Add(nameof(vehicle.year_of_production), new List<string> { "Accepted years are between 1850 and current year." });
           
        }
        customValidator.DisplayErrors(errors);
        if(exist==0 & valid_year==0)
        {
            vehicle.vin = vehicle.vin.ToUpper();
            var result = await VehicleService.AddVehicleAsync(vehicle);
            if (result == null)
            {

            }
            else
            {
                toastService.ShowSuccess("Vehicle created successfully.");
                NavManager.NavigateTo("/vehicles");
            }
        }



        
    }


}